@using MindTreeValueAdds.Web.Models;

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h2><b>LTIMindtree Value Adds</b></h2>
</div>

<div>
	<div class="col-md-12">
		<p>List of all value adds,</p>
		<table class="table table-striped">
			<thead>
				<tr style="background-color:#3e3c3c;">
					<th scope="col" width="5%" style="color:white;">#</th>
					<th scope="col" width="50%" style="color:white;">Name</th>
					<th scope="col" width="10%" style="color:white;">Category</th>
					<th scope="col" width="10%" style="color:white;">Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var homeListOfValueAddsSctructure in (List<Home.HomeListOfValueAddsSctructure>)ViewData["homeListOfValueAddsSctructures"])
				{
					<tr>
						<th scope="row">@homeListOfValueAddsSctructure.Number</th>
						<td><a href="@homeListOfValueAddsSctructure.URL">@homeListOfValueAddsSctructure.Name</a></td>
						<td>@homeListOfValueAddsSctructure.Category</td>
						<td><a href="@homeListOfValueAddsSctructure.URL">Goto</a></td>
					</tr>
				}


			</tbody>
		</table>

		@*<div>
			<label id="LoginUserName" style="color:darkgray; font-weight:normal; text-align:center; font-size:18px; padding-top:15px">@ViewBag.LoginUserName</label>
			<label id="LoginUserName1" style="color:darkgray; font-weight:normal; text-align:center; font-size:18px; padding-top:15px">@Session["LoginUserName"]</label>
		</div>*@
	</div>
</div>